*{
    margin:0;
    padding: 0;
    list-style: none;
}

.centertext{
    text-align: center;
    padding: 20px;
}

.buttons{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.introtext{
    display: block;
    text-align: center;
    padding-bottom: 3%;

}

.timeslot-picker{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
}

.timeslot{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: #AECECE;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.timeslot.active{
    background: #D6FFFF;
}

.timeslot.picking{
    background: #F3FDFF;
}

.eventcard {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 65%;
    margin: 10px auto;
    padding: 10px 0;
    background-color: #7FDBFF;
}
.eventcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.eventview{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
}

.alert{
    position: fixed;
    top: 20px;
    right: 20px;
    margin:auto;
    z-index: 1000;
}

.hidden-link, .hidden-link:active, .hidden-link:hover, .hidden-link:visited{
    text-decoration: none;
    color: black;
}

.join{
    margin: 0 auto;
    text-align: center;
}

.participanttable{
    padding: 0 2%;
}

table{
    text-align: left;
    border: 1px solid black;
}

td{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

th{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}