<!-- Pull event information -->

<div class="centertext align-items-center"></div>
<div class="container">
    <div class="introtext">
    <h1>{{ event['title'] }}</h1>
    <!--{#<h2>{{ event['participants'][0][0] }}</h2>#}-->
    <h4>{{ event['date'] }}</h4>
    </div>

<!-- Create particpant table for viewing -->

   <!--{# <div class="participanttable">
        {% for p in event['participants'] %} 
        <p>{{ p[0] }}</p>
        {% endfor %}
    </div>#}-->

<!-- Form for adding participant -->

    <form class="col-sm-3 mx-auto" method="POST">
        <input type="text" name="participantname" placeholder="Participant Name" class="form-control" />
        <br/>
        <!-- TODO - ADD DATE SELECTOR -->
        <input method="POST" type="submit" value="Submit" class="btn btn-lg btn-primary my-3 float-right">
    </form>

</div>
