{% from 'macros.html' import timeslot_picker %}

<!-- Pull event information -->

<div class="centertext align-items-center">
<div class="container">
    <div class="introtext">
    <h1>{{ event['title'] }}</h1>
    <h2>{{ event['description'] }}</h2>
    <h4>{{ event['date'] }}</h4>
    <h5>Created by: {{ event['admin_name'] }}</h5>
    </div>
</div>

<!-- Create particpant table for viewing

   <div class="container">
       <div class="row">
           <div class="col-sm-3">

           </div>
           <div class="col-sm-9">
               <div class="row">
               {% for t in event_timeslots %}
                   <div class="col">
                       {{ t.time.strftime("%I:%M %p") }}
                   </div>
               {% endfor %}
               </div>
           </div>
       </div>
       {% for participant in participants %}
            <div class="row">
                <div class="col-sm-3">
                    {{ participant.name }}
                </div>

                <div class="col-sm-9">
                    <div class="row">
                    {% for t in participant.timeslots %}
                        <div class="col">
                            {{ t.time.strftime("%I:%M %p") }}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>-->
    <div class="participanttable">
        <div class="container">
            <table style="width: 100%">
                <tr>
                {% for t in event_timeslots %}
                    <th>
                        {{ t.time.strftime("%I:%M %p") }}
                    </th>
                {% endfor %}
                </tr>
                {% for p in participants%}
                    <tr>
                        {% for t in event_timeslots %}
                            {% for pt in p.timeslots%}
                                {% if pt.time == t.time  %}
                                    <td>
                                        {{p.name}}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <button class="btn btn-outline-info col-sm-4 join my-4" onclick="showparticipantform()">Join Event</button>

<!-- Form for adding participant -->
<div id="formshow" style="display: none;">
    <form class="col-sm-10 mx-auto" method="POST">
        <div class="container">
            <div class="text-center">
                <input type="text" name="participantname" placeholder="Participant Name" class="form-control" />
                <br/>
                <button class="btn btn-info toggle-time-button my-3 btn-sm">Toggle time format</button>
                <p>Time slots are 30 minutes long and begin at indicated time.</p>
                <p>Hold Ctrl or Command(Mac) to select multiple time slots.</p>
            </div>
            {{ timeslot_picker() }}
        </div>
        <input type="submit" value="Submit" class="btn btn-lg btn-primary my-3 float-right">
    </form>
</div>
</div>
<script>
    $("#new").addClass('active')
    $(".date-picker").datepicker()
    $(".24-hour-form").hide();

    function showparticipantform() {
    var x = document.getElementById('formshow');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

    $('.toggle-time-button').on('click', function(e){
        e.preventDefault()
        $('.24-hour-form').toggle()
        $('.12-hour-form').toggle()
    });

    $('.timeslot-picker').selectable({
        selected: function(event, ui){
            $(ui.selected).addClass('active')
            $(ui.selected).removeClass('selecting')
            $(ui.selected).children('input').val('1')
        },
        unselected: function(event, ui){
            $(ui.unselected).removeClass('active')
            $(ui.unselected).removeClass('selecting')
            $(ui.unselected).children('input').val('0')
        },
        selecting: function(event, ui){
            $(ui.selecting).addClass('selecting')
        }
    });
</script>
