<!-- Pull event information -->

<div class="centertext align-items-center"></div>
<div class="container">
    <div class="introtext">
        <h1>{{ event['name'] }}</h1>
        <h2>{{ event['participants'][0][0] }}</h2>
        <h4>{{ event['time'] }}</h4>
    </div>

<!-- Create particpant table for viewing -->

    <div class="participanttable">
        {% for p in event['participants'] %}
            <p>{{ p[0] }}</p>
        {% endfor %}
    </div>

<!-- Form for adding participant -->
    <form class="col-sm-10 mx-auto" method="POST">
        <div class="container">
            <div class="text-center">
                <input type="text" name="participantname" placeholder="Participant Name" class="form-control" />
                <br/>
                <button class="btn btn-info toggle-time-button my-3 btn-sm">Toggle time format</button>
                <p>Time slots are 30 minutes long and begin at indicated time.</p>
                <p>Hold Ctrl or Command(Mac) to select multiple time slots.</p>
            </div>

            <div class="timeslot-picker">
                {% for i, date in daterange %}
                    <div class="timeslot">
                        <p class="12-hour-form">{{ date }}</p>
                        <p class="24-hour-form">{{ daterange24[i] }}</p>
                        <input type="hidden" name="slot_{{ i }}" value='0'>
                    </div>
                {% endfor %}
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-lg btn-primary my-3 float-right">
    </form>

</div>
<script>
    $("#new").addClass('active')
    $(".date-picker").datepicker()
    $(".24-hour-form").hide();

    $('.toggle-time-button').on('click', function(e){
        e.preventDefault()
        $('.24-hour-form').toggle()
        $('.12-hour-form').toggle()
    });

    $('.timeslot-picker').selectable({
        selected: function(event, ui){
            $(ui.selected).addClass('active')
            $(ui.selected).removeClass('selecting')
            $(ui.selected).children('input').val('1')
        },
        unselected: function(event, ui){
            $(ui.unselected).removeClass('active')
            $(ui.unselected).removeClass('selecting')
            $(ui.unselected).children('input').val('0')
        },
        selecting: function(event, ui){
            $(ui.selecting).addClass('selecting')
        }
    });
</script>
