{% include 'header.html' %}
<div class="centertext align-items-center"></div>
    <div class="container">
        <div class="introtext">
            <h1>Kitchen Utensils</h1>
            <h2>Events</h2>
        </div>

        <!-- List Cards for all events in the database -->
        {% for event in events %}
        <a href="/event/{{ event['id'] }}" class="hidden-link">
            <div class="eventcard my-3">
                    <h4><b>{{ event['title'] }}</b></h4>
                    <p>{{ event['date'] }}</p>
                    <div class="container">
                    <p> {{ event['description'] }} </p>
                    <p> Created by: {{ event.admin['name'] }}</p>
                    </div>
            </div>
        </a>
        {% endfor %}


        <!--<p style="padding-top: 40px;">Created by:</p>
        <ul>
            <li>
                <p>Armaan Amirain</p>
                <p>Zane Cersovky</p>
                <p>Taylor Walenczyk</p>
                <p>Jack Weber</p>
            </li>
        </ul>-->
    </div>



<script>
    $("#home").addClass('active')
</script>
{% include 'footer.html' %}
