{% include 'header.html' %}
<div class="centertext align-items-center"></div>
    <div class="container">
        <div class="introtext">
        <h1>Kitchen Utensils</h1>
        <h2>Event Manager</h2>
        <p style="padding-top: 40px;">Created by:</p>
        <ul>
            <li>
                <p>Armaan Amirain</p>
                <p>Zane Cersovky</p>
                <p>Taylor Walenczyk</p>
                <p>Jack Weber</p>
            </li>
        </ul>
        </div>
    </div>



<script>
    $("#home").addClass('active')
</script>
{% include 'footer.html' %}