{% include 'header.html' %}
<div class="centertext align-items-center"></div>
    <div class="container">
        <div class="introtext">
            <h1>Kitchen Utensils</h1>
            <h2>Events</h2>
        </div>

        <!-- List Cards for all events in the database -->
        <!-- {#{% for event in get_event_summaries() %}-->#}
        <div class="eventcard">
                <h4><b>Event</b></h4>
                <p>Times: Time</p>
                <div class="container">
                  <p>Event Creator Name</p>
                  <p></p>
                </div>
        </div>
        {#<!-- {% endfor %} -->#}


        <!--<p style="padding-top: 40px;">Created by:</p>
        <ul>
            <li>
                <p>Armaan Amirain</p>
                <p>Zane Cersovky</p>
                <p>Taylor Walenczyk</p>
                <p>Jack Weber</p>
            </li>
        </ul>-->
    </div>



<script>
    $("#home").addClass('active')
</script>
{% include 'footer.html' %}
