{% macro display_errors(form) %}
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
        {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

{% macro input_field(form, name, placeholder, class='form-control') %}
    {{ form[name](class_=class, placeholder=placeholder) }}
    <br />
{% endmacro %}
