{% include 'header.html' %}
<h1>Create a New Event</h1>

    <div class="conatiner">
        <form class="col-sm-10 mx-auto">
            <input type="text" name="eventname" placeholder="Event Name" class="form-control" />
            <br />
            <input type="text" name="eventdescription" placeholder="Event Description" class="form-control" />
            <br />
            <input type="text" name="adminname" placeholder="Your Name" class="form-control" />
            <br />
            <input type="date" name="date" placeholder="Date of Event" class="form-control date-picker" />

            <div class="timeslot-picker">
                {% for i, date in daterange %}
                    <div class="timeslot">
                        {{ date }}
                        <input type="hidden" name="slot_{{ i }}" value='0'>
                    </div>
                {% endfor %}
            </div>

            <input type="submit" value="Submit" class="btn btn-primary my-3 float-right">
        </form>
    </div>

<script>
    $("#new").addClass('active')
    $(".date-picker").datepicker()

    $('.timeslot-picker').selectable({
        selected: function(event, ui){
            $(ui.selected).addClass('active')
            $(ui.selected).children('input').val('1')
        },
        unselected: function(event, ui){
            $(ui.unselected).removeClass('active')
            $(ui.unselected).children('input').val('0')
        }
    });
</script>
{% include 'footer.html' %}